

.title{
    font-size: 1.85em;
    line-height: 1.2em;
}

/* .article > .article__header {
    font-size: 1.85em;
    line-height: 1.2em;
    background-color: lightblue;
} */

/*section that precedes another section*/
/* section + section {
    margin: 20px 0 10px 0;
    background-color: blueviolet;
  } */

  /* Any section tab that has a sibling section tag */
section ~ section{
    margin: 20px 0 10px 0;
    background-color: darkkhaki;
}